.main-panel {
  display: grid;
  grid-template-columns: 330px 1fr;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .main-panel {
    grid-template-columns: 1fr;
  }
}